<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-id="shell" data-class="RubricWebShell">
  <head><title data-property="title">Travel Booker</title></head>
  <body>
    <header><nav data-region="nav" /></header>
    <main data-region="main" />
    <footer data-region="footer" />
  </body>
</html>
